.main {
    grid-column-start: 1;
    grid-column-end: 9;
    background: #F8F8FA;
}
.main-text {
    text-align: center;
}
.main-text h2 {
    font-family: 'cafe24_djh';
}
.main-chart {
    width: 100%;
    height: 600px;
    text-align: center;
}
.chart{
	margin-left:25%;
	width:800px;
}
.main-chat-title{
    text-align: center;
    
}

.nail {
    display: grid;
    grid-template-columns: 70%;
    padding-left: 40px;
    padding-right: 40px;
    height: 860px;
    color: black;
    justify-content: center;
}
.nail1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #323232;
    
}
.nail p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 10%;

}

.nail .nail1 .corona-status{
    width:1000px;
    height:800px;
}

.nail-second {
    display: grid;
    grid-template-columns: 40%;
    padding-left: 40px;
    padding-right: 40px;
    height: 130px;
    justify-content: center;
}
.nail2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #323232;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.nail2 p{
    position: relative;
    top: 40%;
}
.my-modal{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:none;
    overflow: auto;
    width:100%;
    height:100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
}

.my-modal .close-btn{
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor:pointer;
    position:relative;
    top:5%;
    left:30%;
}

.my-modal iframe{
    width: 900px;
    height: 730px;

}

object.mini-status{
	width:800px;
	height:600px;
	margin-top:100px;
	margin-left:100px;
}