
@font-face {
    font-family: 'cafe24_ddh';
    src: url('../../font/Cafe24Dangdanghae.ttf');
}
@font-face {
    font-family: 'cafe24_djh';
    src: url('../../font/Cafe24Danjunghae.ttf');
}
@font-face {
    font-family: 'cafe24_sph';
    src: url('../../font/Cafe24Simplehae.ttf');
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'cafe24_djh';
}

body, html {
    height: 100%;
}

html {
    overflow: scroll;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    color: white;
    width: 100%;
    height: 100%;
}

.wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
}

.main {
    grid-column: 1/3;
    background: #F8F8FA;
}
.nail-first {
    display: grid;
    grid-template-columns: 350px 300px;
    grid-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: 300px;
    margin-bottom: 50px;
    justify-content: center;
}
.nail1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: white;
    border:2px solid black;
    border-radius:5px;
    color: black;

}
.nail1 .preview-target{
    width:100%;
    height:100%;
}

.nail2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: white;
    border:2px solid black;
    border-radius:5px;
    color: black;
}
.tablebox{
    border: 1px dashed transparent;
    margin-top: 20px;
}
.tablebox2{
    border: 1px dashed transparent;
    margin-top: 20px;
}

.nail-second {
    display: grid;
    grid-template-columns: 350px 300px;
    grid-gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: 210px;
    justify-content: center;
}
.nail3 {
    grid-column-start: 1;
    grid-column-end: 3;
    background: white;
    border:2px solid black;
    border-radius:5px;
    color: black;
}

.bottom-btn{
    color: black;
    text-align: center;
}
#btn1{
    width: 80px;
    
}
#btn2{
    width: 80px;
    margin-left: 20px;
}

