.main {
    grid-column-start: 1;
    grid-column-end: 9;
    background: #F8F8FA;
}
.main-text {
    text-align: center;
    font-weight: bold;
}
.main-text h2 {
    font-family: 'cafe24_djh';
}
.main-text p {
    font-size: 18px;
}

.menu {
    border-radius: 10px;
    display: table;
    text-align: center;
    width: 1080px;
    height: 30px;
    margin: 0 auto;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgb(207 207 207);
}
.menu div {
    display: table-cell;
    vertical-align: middle;
    transition: all .2s;
    cursor: pointer;
}
.menu div:hover {
    background: lightgray;
    
}

.menu4:hover{
	cursor: pointer;
}

.nail {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 340px 340px 30px;
    grid-gap: 40px 0px;
    justify-content: center;
    text-align: center;
}
.nail_inner{
    text-align: center;
    font-family:  'cafe24_sph';
}
.nail_title{
    font-size: 20px;
    margin-top: 10px;
    font-family:'cafe24_ddh';
}
.nail_hrt{
    padding-top: 3px ;
}
.nail_img{
    background-color: antiquewhite;
    width: 270px;
    height: 190px;
    margin: 15px;
    border-radius: 10px;
    background-image: url('https://cdnweb01.wikitree.co.kr/webdata/editor/202007/01/img_20200701143323_2ced7627.webp');
    background-size: cover;
}
.nail > div:hover{
    transform:scale(1.1);
    cursor: pointer;
    overflow:hidden;  
}
.sleep{
    background-color: azure;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    font-family: 'cafe24_ddh';
}
.nail .nail_view {
    margin-right: 90px;
}
.nail > div {
    min-width: 300px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgb(207, 207, 207);
}
.nail1 {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}
.nail2 {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}
.nail3 {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
}
.nail4 {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}
.nail5 {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}
.nail6 {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
}

.write {
    height: fit-content;
    text-align: center;
    width: 100%;
}