.main {
    grid-column-start: 1;
    grid-column-end: 9;
    background: #F8F8FA;
}
.main-text {
    text-align: center;
    font-weight: bold;
}
.main-text h2 {
    font-family: 'cafe24_djh';
}
.main-text p {
    font-family: 'cafe24_sph';
    font-size: 18px;
}
.menu {
    border-radius: 10px;
    display: table;
    text-align: center;
    width: 1080px;
    height: 30px;
    margin: 0 auto;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 3px 2px rgb(207 207 207);
}
.menu div {
    display: table-cell;
    vertical-align: middle;
    transition: all .2s;
}
.menu div:hover {
    background: lightgray;
}
.search{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 25px;
}
.search1{
    width: 20% !important;
    margin-right: 10px;
}

.desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1080px;
    margin: 0 auto;
}
.dialect {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100%;
    width: 100%;
    justify-self: end;
}
.dialect table {
    text-align: center;
    vertical-align: middle !important;
    border: 1px solid #d4d4d4;
    box-shadow: 1px 1px 4px 2px #e0e0e0;
    border-radius: 20px;
}
.explan {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 100%;
    width: 60%;

}
th{
    background-color: rgb(226, 226, 226);
}
td{
    background-color: white;
}
td:hover{
    background-color: rgb(226, 226, 226);
}