.main {
    grid-column-start: 1;
    grid-column-end: 9;
    background: #F8F8FA;
}
.main-text {
    text-align: center;
}
.main-text h2 {
    font-family: 'cafe24_djh';
}
.main-place {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 515px);
    grid-gap: 50px;
    height: fit-content;
    justify-content: center;
}
.slider {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
    min-width: 515px;
    height: 450px;
    border-radius: 20px;
    justify-self: center;
    background-image: url('../../img/logo.png');
    background-size: contain;
}
.slider > button {
    margin-top: 15%;
}
.slider .imgs{
    padding: 0;
    margin: 0;
}
.slider .imgs img{
    width: 515px;
    height: 510px;
    border-radius: 20px;
    border: 1px solid #e7e7e7;
}
.place-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: white;
    border: 1px solid #e7e7e7;
    box-shadow: 1px 1px 4px 2px #e0e0e0;
    padding: 4%;
    border-radius: 20px;
    height: 640px;
}
.place-info label {
    font-weight: bold;
}
.btn-group-toggle label {
    font-weight: inherit;
}
.place-info section:not(:last-child) {
    margin: 0 0 20px 0;
}
.place-info button {
    float: right;
}

.place-info+fieldset {
    margin: auto auto 0 auto;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.place-img+fieldset {
    grid-column-start: 2;
    justify-self: end;
    margin-top: 2%;
}

.suggest_text {
    width: 1080px;
    height: 900px;
    margin: 0 auto;
}
.day-btn h3 {
    float: left;
    font-family: 'cafe24_djh';
}
.day-btn button {
    float: right;
}
.day-btn button:not(:first-child) {
    margin-right: 10px;
}

#btn_search{
	color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    border-radius: 4px 5px 5px 5px;
    width: 80px;
    height: 20px;
    padding: 8px;
}

#btn_search:hover{
	cursor: pointer;
}

.line {
    width: 100%;
}
.main-second{
    width: 1080px;
    height: 600px;
    color: black;
    margin: 0 auto;
}
.main-map{
    background: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #d4d4d4;
    background-image: url('https://file.okky.kr/images/1488426125693.PNG');
    background-size: cover;
    box-shadow: 1px 1px 4px 2px #e0e0e0;
    width: 100%;
    height: 100%
}
.map_list{
    border: 1px solid #cfcfcf;
    width: 1080px;
    height: 300px;
    margin-top: 4%;
    background-color: #f1f1f1;
    overflow: auto;
    border-radius: 20px;
}
.map_add{
    border: 1px solid #cfcfcf;
    width: 280px;
    height: 600px;
    float: right;
    z-index: -1;
    background-color: #f1f1f1;
    overflow: auto;
    border-radius: 20px;
}

.map_div{
    display: inline;
}

.list{
    background-color: antiquewhite;
    width: 300px;
    height: 200px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-column-start: 1;
    grid-column-end: 2;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

.list_nail{
    background-color: aquamarine;
    width: 120px;
    height: 180px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.list_inner{
    text-align: left;
    padding-top: 10px;
}
.course_name{
    font-size: 20px;
    font-family: 'cafe24_ddh';
}
.bottom-btn-group2{
    color: black;
    text-align: center;
}
#btn1{
    font-size: 15px;
    width: 70px;
    margin-left: 25px;
}
#btn2{
    font-size: 15px;
    width: 70px;
    margin-left: 25px;
}
#btn3{
    font-size: 15px;
    width: 70px;
    margin-left: 25px;
}

.hash_inner {
	margin-top: 5px;
	display: flex;
}
.hash_inner .tag {
	background-color: beige;
    border-radius: 5px;
    padding: 3px;
}
.hash_inner .tag:not(:last-child) {
	margin-right: 10px;
}
.hash_inner .tag .button {
	border: none;
    background: none;
    padding: 0 5px;
}