<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "dib">
	<resultMap type="dibDto" id="dibMap">
		<result property="dib_num" column="DIB_NUM"/>
		<result property="board_num" column="BOARD_NUM"/>
		<result property="table_num" column="TABLE_NUM"/>
		<result property="user_id" column="USER_ID"/>
	</resultMap>
	
	<!-- 마이페이지 내가 찜한 게시글 조회  -->
   <select id="selectdDibList" parameterType="int" resultMap="dibMap">
      SELECT * FROM OLLE_DIB
      WHERE TABLE_NUM = #{table_num}
   </select>
   <!-- 마이페이지 내가 찜한 게시글 조회  끝 -->
	
	<select id="selectList" resultMap="dibMap">

	</select>
	
	<!-- 특정 게시물의 찜 개수 -->
	<select id="countDib" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM OLLE_DIB
		WHERE BOARD_NUM = 3 AND TABLE_NUM = #{table_num}
	</select>
	
	<select id="selectOne" resultType="dibDto">

	</select>
	
	<insert id="insert" parameterType="dibDto">
		INSERT INTO OLLE_DIB
		VALUES()
	</insert>
	
	<update id="update" parameterType="dibDto">
		UPDATE OLLE_DIB
		SET 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM OLLE_DIB
		WHERE DIB_NUM = #{dib_num}
	</delete>
</mapper>