<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "hashtag">
	<resultMap type="hashtagDto" id="hashtagMap">
		<result property="hash_num" column="HASH_NUM"/>
		<result property="board_num" column="BOARD_NUM"/>
		<result property="table_num" column="TABLE_NUM"/>
		<result property="hash_content" column="HASH_CONTENT"/>
	</resultMap>
	
	<select id="maxNum" resultType="int">
		SELECT MAX(HASH_NUM)
		FROM OLLE_HASHTAG
	</select>
	
	<!-- 마이페이지 내가 작성한 일정 해시태그 조회-->
   <select id="selectHash" parameterType="int" resultMap="hashtagMap">
      SELECT * 
      FROM OLLE_HASHTAG
      WHERE TABLE_NUM = #{table_num}
      ORDER BY TABLE_NUM
   </select>
   <!-- 마이페이지 내가 작성한 일정 해시태그 조회-->
	
	<select id="selectList" parameterType="int" resultMap="hashtagMap">
		SELECT * 
		FROM OLLE_HASHTAG
		WHERE BOARD_NUM = #{board_num}
	</select>
	
	<select id="selectOne" resultType="hashtagDto">
		SELECT *
		FROM OLLE_HASHTAG
		WHERE BOARD_NUM=3 AND TABLE_NUM = #{plan_num}
	</select>
	
	<insert id="insert" parameterType="hashtagDto">
		INSERT INTO OLLE_HASHTAG
		VALUES(
			#{hash_num}, #{board_num}, #{table_num}, #{hash_content}
		)
	</insert>
	
	<update id="update" parameterType="hashtagDto">
		UPDATE OLLE_HASHTAG
		SET HASH_CONTENT = #{hash_content}
		WHERE HASH_NUM = #{hash_num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM OLLE_HASHTAG
		WHERE BOARD_NUM = 3 AND TABLE_NUM = #{plan_num}
	</delete>
</mapper>