<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "img">
	<resultMap type="imgDto" id="imgMap">
		<result property="img_num" column="IMG_NUM"/>
		<result property="board_num" column="BOARD_NUM"/>
		<result property="table_num" column="TABLE_NUM"/>
		<result property="img_title" column="IMG_TITLE"/>
		<result property="group_num" column="GROUP_NUM"/>
	</resultMap>
	
	<select id="selectList" resultMap="imgMap">

	</select>
	
	<select id="selectOne" resultType="imgDto">

	</select>
	
	<!-- image PK 최대 값 가져오기 -->
	<select id="selectMaxPK" resultType="int">
		  SELECT (NVL2(MAX(IMG_NUM)+1,MAX(IMG_NUM)+1,1)) AS PRI  FROM OLLE_IMG
	</select>
	
	<select id="selectMaxGroupId" parameterType="int" resultType="int">
		SELECT (NVL(MAX(GROUP_NUM),0)+1) FROM OLLE_IMG
		WHERE BOARD_NUM=#{board_num} 
	</select>
	
	<!--제주 상황 BOARD_NUM과 TABLE_NUM으로 찾기(맨 위 한행만)<-가게 정보에 등록한 이미지  -->
<!-- 	<select id="storeImg" parameterType="int" resultType="imgDto">
		SELECT B.*
		FROM(
		SELECT ROWNUM AS RN,A.* FROM (SELECT IMG_NUM, BOARD_NUM, TABLE_NUM,
		IMG_TITLE,GROUP_NUM
		FROM OLLE_IMG
		WHERE BOARD_NUM=4 AND TABLE_NUM=#{table_num}
		ORDER BY IMG_NUM DESC)A)B
		WHERE B.RN=1
	</select> -->
	<select id="storeImg" parameterType="paginationIdxDto" resultType="imgDto">
		SELECT IMG_NUM, BOARD_NUM, TABLE_NUM,IMG_TITLE, GROUP_NUM FROM OLLE_IMG
		WHERE BOARD_NUM=4 AND (TABLE_NUM BETWEEN #{startIdx} AND #{endIdx})
	</select>
	
	<!-- 구분에 따른 페이징 처리 -->
	<select id="storeImgByGubun" parameterType="paginationIdxDto" resultType="imgDto">
		SELECT B.*
		FROM (SELECT A.*, ROWNUM AS RN
			  FROM
				(SELECT IMG_NUM, BOARD_NUM, TABLE_NUM,IMG_TITLE, GROUP_NUM,S.SITU_GUBUN
				FROM OLLE_IMG I
				JOIN OLLE_SITUATION S ON(S.SITU_NUM=I.TABLE_NUM)
				WHERE I.BOARD_NUM=4
				ORDER BY I.TABLE_NUM)A
				WHERE A.SITU_GUBUN=#{situ_gubun})B
		WHERE B.RN BETWEEN #{startIdx} AND #{endIdx}
	</select>
	<insert id="insert" parameterType="imgDto">
		<selectKey resultType="int" keyProperty="img_num" order="BEFORE">
		  SELECT (NVL2(MAX(IMG_NUM)+1,MAX(IMG_NUM)+1,1)) AS PRI  FROM OLLE_IMG
		</selectKey>
		INSERT INTO OLLE_IMG
		VALUES(#{img_num},#{board_num},#{table_num},#{img_title},#{group_num})
	</insert>
	
	<update id="update" parameterType="imgDto">
		UPDATE OLLE_IMG
		SET 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM OLLE_IMG
		WHERE IMG_NUM = #{img_num}
	</delete>
</mapper>