<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "jeju">
	<resultMap type="jejuDto" id="jejuMap">
		<result property="situ_num" column="SITU_NUM"/>
		<result property="situ_name" column="SITU_NAME"/>
		<result property="situ_writer" column="SITU_WRITER"/>
		<result property="situ_regDate" column="SITU_REGDATE"/>
		<result property="situ_phone" column="SITU_PHONE"/>
		<result property="situ_addr" column="SITU_ADDR"/>
		<result property="situ_open_time" column="SITU_OPEN_TIME"/>
		<result property="situ_close_time" column="SITU_CLOSE_TIME"/>
		<result property="situ_home" column="SITU_HOME"/>
<!-- 		<collection property="menuList" resultMap="menu.menuUnit"></collection> -->
	</resultMap>
	
	<select id="selectList" resultMap="jejuMap">

	</select>
	
	<select id="selectOne" resultType="jejuDto">

	</select>
	
	<!-- 제주상황 맛집등록 게시판 최대 pk값 가져올 수 있도록 하기 -->
	<select id="olleSituStoreMaxPk" resultType="long">
		SELECT MAX(SITU_NUM)+1 FROM OLLE_SITUATION
	</select>
	
	<insert id="insertSit" parameterType="jejuDto">
		INSERT INTO OLLE_SITUATION(SITU_NUM,SITU_NAME,SITU_WRITER,SITU_PHONE,SITU_ADDR,SITU_OPEN_TIME,SITU_CLOSE_TIME,SITU_HOME)
		VALUES(#{situ_num},#{situ_name},#{situ_writer},#{situ_phone},#{situ_addr},#{situ_open_time},#{situ_close_time},#{situ_home})
	</insert>

	
	<update id="update" parameterType="jejuDto">
		UPDATE OLLE_SITUATION
		SET 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM OLLE_SITUATION
		WHERE SITU_NUM = #{situNum}
	</delete>
</mapper>