<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.olle.dao.member">
	<resultMap type="memberDto" id="memberMap">
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAge" column="USER_AGE"/>
		<result property="userAddr" column="USER_ADDR"/>
		<result property="userAddrdetail" column="USER_ADDRDETAIL"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userMember" column="USER_MEMBER"/>
		<result property="userStatus" column="USER_STATUS"/>
		<result property="userWarning" column="USER_WARNING"/>
		<result property="userRegdate" column="USER_REGDATE"/>
		<result property="userSecdate" column="USER_SECDATE"/>
		<result property="userImg" column="USER_IMG"/>
		<result property="userNick" column="USER_NICK"/>
	</resultMap>
	
	<select id="selectList" resultMap="memberMap">

	</select>
	
	<select id="selectOne" resultType="memberDto">

	</select>
	
	<insert id="userInsert" parameterType="com.olle.dto.member.MemberDto">
		INSERT INTO OLLE_USER (
			 USER_ID 
			,USER_PW 
			,USER_NAME 
			,USER_AGE 
			,USER_ADDR 
			,USER_PHONE 
			,USER_EMAIL 
			,USER_MEMBER 
			,USER_STATUS
			,USER_WARNING
			,USER_IMG
			,USER_NICK 
		) VALUES (
			 #{userId}
			,#{userPw}
			,#{userName}
			,#{userAge}
			,#{userAddr}
			,#{userPhone}
			,#{userEmail}
			,#{userMember}
			,0
			,0
			,'test'
			,#{userNick}
			)
	</insert>
	
	<update id="update" parameterType="memberDto">
		UPDATE OLLE_USER
		SET 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM OLLE_USER
		WHERE USER_ID = #{user_id}
	</delete>
</mapper>