<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <!-- dao 인터페이스에서 작성한 namespace 작성 -->
  <mapper namespace="user">
  	<!--config.xml에서 Alias MypageDto를 별칭 mypageDto로 지정  -->
  	<resultMap type="memberDto" id="memberMap">
  		<result property="user_id" column="USER_ID"></result>
  		<result property="user_pw" column="USER_PW"></result>
  		<result property="user_name" column="USER_NAME"></result>
  		<result property="user_age" column="USER_AGE"></result>
  		<result property="user_addr" column="USER_ADDR"></result>
  		<result property="user_addrdetail" column="USER_ADDRDETAIL"></result>
  		<result property="user_phone" column="USER_PHONE"></result>
  		<result property="user_email" column="USER_EMAIL"></result>
  		<result property="user_member" column="USER_MEMBER"></result>
  		<result property="user_status" column="USER_STATUS"></result>
  		<result property="user_warning" column="USER_WARNING"></result>
  		<result property="user_regdate" column="USER_REGDATE"></result>
  		<result property="user_secdate" column="USER_SECDATE"></result>
  		<result property="user_img" column="USER_IMG"></result>
  		<result property="user_nick" column="USER_NICK"></result>
  	</resultMap>
  	
  	<!-- 단일 회원 정보 조회 -->
  	<select id="selectOneUser" parameterType="String" resultType="memberDto">
	  	SELECT *
	  	FROM OLLE_USER
	  	WHERE USER_ID=#{user_id}
  	</select>
  	
  	<!-- 회원 정보 수정 -->
  	<update id="updateUser" parameterType="memberDto">
  		UPDATE OLLE_USER
  		SET USER_PW=#{user_pw}, USER_ADDR=#{user_addr}, USER_ADDRDETAIL=#{user_addrdetail} 
  		WHERE USER_ID=#{user_id}
  	</update>
  	
  	<!-- 회원 강제 탈퇴 (신고수가 5회이상 관리자가 강제탈퇴 시킬 경우 회원 상태값은 Y로 변경되고 삭제는 아님 /계정 사용불가) -->
  	<update id="leaveUser" parameterType="memberDto">
  		UPDATE OLLE_USER 
  		SET USER_STATUS=#{y} 
  		WHERE USER_ID=#{user_id} AND USER_PW=#{user_pw}<!-- 쿼리 신고수 적용해서 수정해야할듯  -->
  	</update>
  	
  	<!-- 회원 자진 탈퇴(로그인한 본인이 직접 탈퇴를 진행할 경우 db에서 user정보 삭제) -->
  	<delete id="deleteUser" parameterType="memberDto">
  		DELETE FROM OLLE_USER  
  		WHERE USER_ID=#{user_id}
  	</delete>
  	
  	<!-- 내가쓴 게시글 조회 -->
  	<select id="mywritelist" resultMap="memberMap">
  		<!-- SELECT USER_ID, , MYTITLE, MYCONTENT, MYDATE
  		FROM OLLE_USER -->
  	</select>
  	
  	<!-- 내가 찜한 게시글 조회 -->
  	<select id="mydiblist" resultMap="memberMap">
  		<!-- SELECT USER_ID, , MYTITLE, MYCONTENT, MYDATE
  		FROM OLLE_USER -->
  	</select>
  	
  	
  	<!-- 문의내역 채팅 -->
  	
  	<!-- 신고확인  -->
  
  	
  
  </mapper>