<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "support">
    <resultMap type="ChatMessage" id="chatMessageMap">
        <result property="message_id" column="MESSAGE_ID" />
        <result property="room_id" column="ROOM_ID" />
        <result property="from_user" column="FROM_USER" />
        <result property="to_user" column="TO_USER" />
        <result property="message_content" column="MESSAGE_CONTENT" />
        <result property="message_regdate" column="MESSAGE_REGDATE" />
    </resultMap>
    
    <!-- 테이블 메세지 번호 -->
    <select id="maxNum" resultType="int">
		SELECT MAX(TO_NUMBER(MESSAGE_ID))
		FROM OLLE_CHAT
	</select>
	
	<!-- 특정 방번호의 최신 메세지 불러오기 -->
	<select id="newMessage" parameterType="string" resultMap="chatMessageMap">
		SELECT MESSAGE_ID, ROOM_ID, FROM_USER, TO_USER, MESSAGE_CONTENT, MESSAGE_REGDATE
		FROM(
			SELECT ROWNUM AS RNUM, C.*
			FROM (
				 SELECT *
			    FROM OLLE_CHAT
			    WHERE ROOM_ID = #{room_id}
			    ORDER BY MESSAGE_REGDATE DESC
			) C
		)
		WHERE RNUM = 1
	</select>
    
    <!-- 방을 기준으로 채팅목록 불러오기 -->
    <select id="selectRoom" parameterType="string" resultType="string">
    	SELECT ROOM_ID FROM OLLE_CHAT
    	GROUP BY ROOM_ID
    </select>
    
    <!-- 방정보를 통해 메세지 목록 불러오기 -->
    <select id="selectList" parameterType="string" resultMap="chatMessageMap">
    	SELECT * FROM OLLE_CHAT
    	WHERE ROOM_ID = #{room_id}
    	ORDER BY TO_NUMBER(MESSAGE_ID)
    </select>
    
    <!-- 메세지 저장 -->
    <insert id="insert" parameterType="ChatMessage">
    	INSERT INTO OLLE_CHAT
    	VALUES(#{message_id}, #{room_id}, #{from_user}, #{to_user} ,#{message_content}, SYSDATE)
    </insert>
    
</mapper>